body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inBlue {
	color: blue;
}

.pic {
	width: 300px;
}

.container {
	width: 200px;
	height:200px;
	background-color: #B4D455;
}